%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1= t('about.header.title')
        %hr.colored
        %h4= t('about.header.description')
    .row.text-center
      .col-md-6.col-sm-6
        .about-content.wow.fadeIn{ "data-wow-delay" => ".2s" }
          %a{href: '#participations'}
            %i.fa.fa-edit.fa-4x
          %h3= t('about.participation.title')
          %p= t('about.participation.description')
      .col-md-6.col-sm-6
        .about-content.wow.fadeIn{ "data-wow-delay" => ".4s" }
          %a{href: '#gift'}
            %i.fa.fa-gift.fa-4x
          %h3= t('about.gift.title')
          %p= t('about.gift.description')