%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1= t('about.header.title')
        %p= t('about.header.description')
        %hr.colored
    .row.text-center
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".2s" }
        .about-content
          %i.fa.fa-edit.fa-4x
          %h3= t('about.participation.title')
          %p= t('about.participation.description')
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".4s" }
        .about-content
          %i.fa.fa-map.fa-4x
          %h3= t('about.location.title')
          %p= t('about.location.description')
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".6s" }
        .about-content
          %i.fa.fa-heart.fa-4x
          %h3 BlaBlaBla
          %p Testo ancora da concordare
      .col-md-3.col-sm-6.wow.fadeIn{ "data-wow-delay" => ".s" }
        .about-content
          %i.fa.fa-gift.fa-4x
          %h3= t('about.gift.title')
          %p= t('about.gift.description')