%section.bg-gray#gift
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2= t('gift.header.title')
        %hr.colored
        %p= t('gift.header.description')
    .row
      .col-lg-12
        %h4= t('gift.iban.title')
        %h4= t('gift.iban.number')
        %hr.colored
    .row
      = render partial:"donate_button"