%section.bg-gray#trip.testimonials
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        %h2= t('trip.header.title')
        %hr.colored/
        %h4= t('trip.header.description') 
    .row.content-row
      .col-lg-12
        %p= t('trip.body.content') 


.map_body
  :css
    #{render(partial: 'static_pages/stylesheets/maps_search_box.css')}          
  %input#pac-input.map-controls{:placeholder => "Search Box", :type => "text"}/
  #map
  %script
    #{render(partial: 'static_pages/javascripts/maps_search_box.js', locals: { })}
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"}