%section.pricing#locations{ style: "background-image: url(#{asset_path('img/chiesa.jpg')})" }
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        %h2= t('locations.header.title')
        /%hr.colored
        /%p= t('locations.header.description')
    .row.content-row
      .col-md-6.col-sm-6
        .pricing-item
          %h3= t('locations.church.title')
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em= t('locations.church.where.title')
              %br
              =t('locations.church.where.description')
            %li.list-group-item
              %em= t('locations.church.when.title')
              %br
              =t('locations.church.when.description')
            %li.list-group-item
              %em= t('locations.church.address.title')
              %br
              =t('locations.church.address.street')
              %br
              =t('locations.church.address.city')
            %li.list-group-item
              %a.btn.btn-outline-dark{"data-toggle" => "modal", :href => "#churchMap"}= t('locations.map')
      .col-md-6.col-sm-6  
        .pricing-item
          %h3= t('locations.restaurant.title')
          %hr.colored
          %ul.list-group
            %li.list-group-item
              %em= t('locations.restaurant.where.title')
              %br
              =t('locations.restaurant.where.description')
            %li.list-group-item
              %em= t('locations.restaurant.when.title')
              %br
              =t('locations.restaurant.when.description')
            %li.list-group-item
              %em= t('locations.restaurant.address.title')
              %br
              =t('locations.restaurant.address.street')
              %br
              =t('locations.restaurant.address.city')
            %li.list-group-item
              %a.btn.btn-outline-dark{"data-toggle" => "modal", :href => "#restaurantMap"}= t('locations.map')