= render partial: 'header'
= render partial: 'about'
= render partial: 'locations'
= render partial: 'participations'
= render partial: 'maps'
= render partial: 'quote'
%aside.cta-quote{ style: "background-image: url('#{asset_path('img/terrace.jpg')}');"}
= render partial: 'playlist'
= render partial: 'honey_moon'
= render partial: 'gift'
/= render partial: 'collection'
/= render partial: 'locations'
/= render partial: 'testimonials'
/= render partial: 'newsletter'
/= render partial: 'contact'
/= render partial: 'footer'

- provide :page_title do
  %title Mauro e Beatrice | Home