= render partial: 'header'
= render partial: 'about'
= render partial: 'locations'
= render partial: 'participations'
= render partial: 'gift'
= render partial: 'honey_moon'
= render partial: 'quote'
= render partial: 'maps'
/= render partial: 'collection'
/= render partial: 'locations'
/= render partial: 'testimonials'
/= render partial: 'newsletter'
/= render partial: 'contact'
/= render partial: 'footer'

- provide :page_title do
  %title WedWip | Home