= render partial: 'header'
= render partial: 'about'
= render partial: 'locations'
= render partial: 'participations'
= render partial: 'quote'
= render partial: 'faq'
= render partial: 'messages'
%aside.cta-quote{ style: "background-image: url('#{asset_path('img/shuttle.jpg')}');"}
= render partial: 'playlist'
%aside.cta-quote{ style: "background-image: url('#{asset_path('img/menu.jpg')}');"}
= render partial: 'honey_moon'
= render partial: 'gift'
= render partial: 'map_modals'
/= render partial: 'collection'
/= render partial: 'locations'
/= render partial: 'testimonials'
/= render partial: 'newsletter'
/= render partial: 'contact'
/= render partial: 'footer'

- provide :page_title do
  %title Mauro e Beatrice | Home