%section#message_table.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        %h2= t('message_table.title')
        %hr.colored/
        %p= t('message_table.description')
    .row
      %br/
    .row
      .table-responsive
        %table.table.table-striped#messages
          %thead
            %tr
              %th= t('message_table.table.headers.email')
              %th= t('message_table.table.headers.phone_number')
              %th= t('message_table.table.headers.text')
              %th= t('message_table.table.headers.created_at')
          %tbody
            - @messages.each do |m|
              %tr
                %td= m.user.email
                %td= m.phone_number
                %td= m.text
                %td= I18n.l(m.created_at.to_date)