- provide :page_title do
  %title Mauro e Beatrice | Message List
- provide :page_stylesheet do
  = stylesheet_link_tag "css/dataTables.bootstrap.css"

= render partial: 'header'

%section#message_table.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        %h2= t('message_table.title')
        %hr.colored/
        %p= t('message_table.description')
    .row
      %br/
    .row
      .table-responsive
        %table.table.table-striped#messages
          %thead
            %tr
              %th= t('message_table.table.headers.email')
              %th= t('message_table.table.headers.phone_number')
              %th= t('message_table.table.headers.text')
              %th= t('message_table.table.headers.created_at')

- provide :page_javascript do
  = javascript_include_tag "js/jquery.dataTables.min.js"
  = javascript_include_tag "js/dataTables.bootstrap.min.js"
  :coffee
    $("#messages").DataTable
      'language': I18n.t('datatables')
      'processing': true
      'pageLength': 50
      'order': [[ 0, 'desc' ]]
      'processing': true
      'ordering': true
      'dom': 'fl<"table-scrollable"t>irp'
      'columnDefs': [ {targets: [], orderable: true}]
      'ajax': '#{datatable_list_messages_path}'