/ [if lt IE 9]
  = javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
  = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"

/ Retina.js - Load first for faster HQ mobile images.
= javascript_include_tag "js/plugins/retina/retina.js"
 
/ Core Scripts
= javascript_include_tag "js/jquery.js"
= javascript_include_tag "js/jsrender.js"
= javascript_include_tag "js/bootstrap/bootstrap.js"

/ Plugin Scripts
= javascript_include_tag "js/plugins/jquery.easing.min.js"
= javascript_include_tag "js/plugins/classie.js"
= javascript_include_tag "js/plugins/cbpAnimatedHeader.js"
= javascript_include_tag "js/plugins/owl-carousel/owl.carousel.js"
= javascript_include_tag "js/plugins/jquery.magnific-popup/jquery.magnific-popup.js"
= javascript_include_tag "js/plugins/background/core.js"
= javascript_include_tag "js/plugins/background/transition.js"
= javascript_include_tag "js/plugins/background/background.js"
= javascript_include_tag "js/plugins/jquery.mixitup.js"
= javascript_include_tag "js/plugins/wow/wow.js"
= javascript_include_tag "js/contact_me.js"
= javascript_include_tag "js/plugins/jqBootstrapValidation.js"

/ Vitality Theme Scripts
= javascript_include_tag "js/vitality.js"

/ JsHash Scripts
= javascript_include_tag "js/plugins/jshash/sha512.js"
= javascript_include_tag "js/plugins/jshash/md5.js"

/ App Scripts
= javascript_include_tag "application.js"
= javascript_include_tag "i18n.js"