/ Note: navbar-default and navbar-inverse are both supported with this theme.
%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
  .container
    
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{ href: "#page-top" }
        %img.img-responsive{ alt: "", src: asset_path("img/fashion/logo.png")}
    
    / Collect the nav links, forms, and other content for toggling
    - if user_signed_in? && is_root? 
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right

          %li.hidden
            %a.page-scroll{ href: "#page-top" }

          - if I18n.locale != :it
            %li
              = link_to t('navbar.language.ita'), {locale: :it}, class: 'page-scroll'
          - if I18n.locale != :en
            %li
              = link_to t('navbar.language.eng'), {locale: :en}, class: 'page-scroll'
          %li
            %a.page-scroll{ href: "#about" }= t('navbar.about')
          %li
            %a.page-scroll{ href: "#locations" }= t('navbar.locations')
          %li
            %a.page-scroll{ href: "#participations" }= t('navbar.participations')
          %li
            %a.page-scroll{ href: "#gift" }= t('navbar.gift')
          %li
            %a.page-scroll{ href: "#trip" }= t('navbar.trip')
    
    - elsif user_signed_in? && !is_root? 

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right

          %li.hidden
            %a.page-scroll{ href: "#page-top" }

          - if I18n.locale != :it
            %li
              = link_to t('navbar.language.ita'), {locale: :it}, class: 'page-scroll'
          - if I18n.locale != :en
            %li
              = link_to t('navbar.language.eng'), {locale: :en}, class: 'page-scroll'
          %li
            %a.page-scroll{ href: root_path }= t('navbar.home')

    - else
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav.navbar-right

          %li.hidden
            %a.page-scroll{ href: "#page-top" }

          - if I18n.locale != :it
            %li
              = link_to t('navbar.language.ita'), {locale: :it}, class: 'page-scroll'
          - if I18n.locale != :en
            %li
              = link_to t('navbar.language.eng'), {locale: :en}, class: 'page-scroll'
          %li
            %a.page-scroll{ href: "#login" }= t('navbar.login')
          %li
            %a.page-scroll{ href: "#register" }= t('navbar.register')