/ Bootstrap Core CSS
= stylesheet_link_tag "css/bootstrap/bootstrap.css"

/ Font Awesome
= stylesheet_link_tag "font-awesome/css/font-awesome.css"

/ Default Fonts 
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900'

/ Modern Style Fonts (Include these is you are using body.modern!)
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cardo:400,400italic,700'
/ Vintage Style Fonts (Include these if you are using body.vintage!)
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Sanchez:400italic,400'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cardo:400,400italic,700'
/ Plugin CSS
= stylesheet_link_tag "css/plugins/owl-carousel/owl.carousel.css"
= stylesheet_link_tag "css/plugins/owl-carousel/owl.theme.css"
= stylesheet_link_tag "css/plugins/owl-carousel/owl.transitions.css"
= stylesheet_link_tag "css/plugins/magnific-popup.css"
= stylesheet_link_tag "css/plugins/background.css"
= stylesheet_link_tag "css/plugins/animate.css"

/ Vitality Theme CSS
/= stylesheet_link_tag "css/vitality-red.css"
/= stylesheet_link_tag "css/vitality-aqua.css"
/ = stylesheet_link_tag "css/vitality-blue.css"
/ = stylesheet_link_tag "css/vitality-green.css"
/ = stylesheet_link_tag "css/vitality-orange.css"
/= stylesheet_link_tag "css/vitality-pink.css"
/ = stylesheet_link_tag "css/vitality-purple.css"
/= stylesheet_link_tag "css/vitality-tan.css"
/ = stylesheet_link_tag "css/vitality-turquoise.css"
= stylesheet_link_tag "css/vitality-yellow.css"